In [169]:
import pandas as pd
from pandas.io import sql
import MySQLdb
import sys

In [170]:
input_file = sys.argv[1]
my_passwd = sys.argv[2]

In [171]:
df = pd.read_csv(input_file, sep="\t")
header_list = df.columns

In [172]:
db = MySQLdb.connect(host="localhost", 
                      user="ubuntu", 
                      passwd=my_passwd
                      db="practice")

In [173]:
cur = db.cursor()

sql_command = "SHOW TABLES Like 'iris';"
check_table = cur.execute(sql_command)

if check_table != None:
    cur.execute("drop table iris;")

In [174]:
sql_command = "create table iris ("
create_table = "create table iris"
for header in header_list:
    header = header.replace(' ','')
    header = header.replace('(cm)','')
    sql_command = '%s %s float NULL,' % (sql_command, header)
sql_command = sql_command[:-1]
sql_command = '%s);' % sql_command

In [175]:
print sql_command
cur.execute(sql_command)

create table iris ( sepallength float NULL, sepalwidth float NULL, petallength float NULL, petalwidth float NULL, label float NULL);

0L

In [176]:
sql_command = "LOAD DATA LOCAL INFILE '%s' INTO TABLE iris IGNORE 1 LINES;" % input_file
cur.execute(sql_command)

150L

In [177]:
db.commit()

In [182]:
sql_command = "select * from iris;"
results = cur.execute(sql_command)

150