In [192]:
import pandas as pd
from pandas.io import sql
import MySQLdb
import sys

In [196]:
input_file = sys.argv[1]
my_passwd = sys.argv[2]

In [197]:
df = pd.read_csv(input_file, sep="\t")
header_list = df.columns

In [199]:
db = MySQLdb.connect(host="localhost", 
                      user="ubuntu", 
                      passwd=my_passwd,
                      db="practice")

In [200]:
cur = db.cursor()

sql_command = "SHOW TABLES Like 'iris';"
check_table = cur.execute(sql_command)

if check_table != None:
    cur.execute("drop table iris;")

In [201]:
sql_command = "create table iris ("
create_table = "create table iris"
for header in header_list:
    header = header.replace(' ','')
    header = header.replace('(cm)','')
    sql_command = '%s %s float NULL,' % (sql_command, header)
sql_command = sql_command[:-1]
sql_command = '%s);' % sql_command

In [202]:
print sql_command
cur.execute(sql_command)

create table iris ( sepallength float NULL, sepalwidth float NULL, petallength float NULL, petalwidth float NULL, label float NULL);

0L

In [203]:
sql_command = "LOAD DATA LOCAL INFILE '%s' INTO TABLE iris IGNORE 1 LINES;" % input_file
cur.execute(sql_command)

150L

In [204]:
db.commit()

In [205]:
sql_command = "select * from iris;"
results = cur.execute(sql_command)

In [214]:
sql_command = "select sepallength from iris;"
results = cur.execute(sql_command)
results = cur.fetchall()
print list(results)

[(5.1,), (4.9,), (4.7,), (4.6,), (5.0,), (5.4,), (4.6,), (5.0,), (4.4,), (4.9,), (5.4,), (4.8,), (4.8,), (4.3,), (5.8,), (5.7,), (5.4,), (5.1,), (5.7,), (5.1,), (5.4,), (5.1,), (4.6,), (5.1,), (4.8,), (5.0,), (5.0,), (5.2,), (5.2,), (4.7,), (4.8,), (5.4,), (5.2,), (5.5,), (4.9,), (5.0,), (5.5,), (4.9,), (4.4,), (5.1,), (5.0,), (4.5,), (4.4,), (5.0,), (5.1,), (4.8,), (5.1,), (4.6,), (5.3,), (5.0,), (7.0,), (6.4,), (6.9,), (5.5,), (6.5,), (5.7,), (6.3,), (4.9,), (6.6,), (5.2,), (5.0,), (5.9,), (6.0,), (6.1,), (5.6,), (6.7,), (5.6,), (5.8,), (6.2,), (5.6,), (5.9,), (6.1,), (6.3,), (6.1,), (6.4,), (6.6,), (6.8,), (6.7,), (6.0,), (5.7,), (5.5,), (5.5,), (5.8,), (6.0,), (5.4,), (6.0,), (6.7,), (6.3,), (5.6,), (5.5,), (5.5,), (6.1,), (5.8,), (5.0,), (5.6,), (5.7,), (5.7,), (6.2,), (5.1,), (5.7,), (6.3,), (5.8,), (7.1,), (6.3,), (6.5,), (7.6,), (4.9,), (7.3,), (6.7,), (7.2,), (6.5,), (6.4,), (6.8,), (5.7,), (5.8,), (6.4,), (6.5,), (7.7,), (7.7,), (6.0,), (6.9,), (5.6,), (7.7,), (6.3,), (6.7,), (7.2,), (6.2,), (6.1,), (6.4,), (7.2,), (7.4,), (7.9,), (6.4,), (6.3,), (6.1,), (7.7,), (6.3,), (6.4,), (6.0,), (6.9,), (6.7,), (6.9,), (5.8,), (6.8,), (6.7,), (6.7,), (6.3,), (6.5,), (6.2,), (5.9,)]

In [215]:
#just for my own test
df = pd.DataFrame(list(results))
print df

       0
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
10   5.4
11   4.8
12   4.8
13   4.3
14   5.8
15   5.7
16   5.4
17   5.1
18   5.7
19   5.1
20   5.4
21   5.1
22   4.6
23   5.1
24   4.8
25   5.0
26   5.0
27   5.2
28   5.2
29   4.7
..   ...
120  6.9
121  5.6
122  7.7
123  6.3
124  6.7
125  7.2
126  6.2
127  6.1
128  6.4
129  7.2
130  7.4
131  7.9
132  6.4
133  6.3
134  6.1
135  7.7
136  6.3
137  6.4
138  6.0
139  6.9
140  6.7
141  6.9
142  5.8
143  6.8
144  6.7
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]